*.plt
.vscode
rebar3
_build
src/ebin/*.beam
src/*/test/*.beam
lib/*/ebin
lib/*/logs
lib/*/.rebar
lib/*/test/*.beam
lib/*/app.last.config
rel/*/release/
src/*/deps
rebar.lock

*/logs
*/test/*.beam
*/deps
deps
*/deps/*
*/ebin
*/.rebar
.project
.DS_Store
*.dump
*.swp
*.bak
*.del
log
.settings
nbproject
mnesia
mnesia_test
lib/*/mnesia/*
src/authentication_agent/mnesia/*
src/cnode/m_mnesia/*
src/cnode/t_mnesia/*
src/web/ebin/*.beam
zookeeper/web/config/database.yml
*.con
*.o
src/cnode/priv/market/*.rec
src/stripe/site/ebin/*.beam
*.log.*
*.log
src/offer_agent/settles/*
api/tpl/docs/*
*/app.last.config
TAGS
*/.eunit/
*/**/_build/
interactivebroker/build/*
interactivebroker/bin/IBJts/*
!interactivebroker/bin/IBJts/jts.ini
!interactivebroker/bin/IBJts/jts.jar
!interactivebroker/bin/IBJts/total.2013.jar
trade_hub/settles/*
zerg_web/node_modules/
.idea/
*.iml
/_build/