%% == Core ==
%% Additional library directories to add to the code path
{lib_dirs, ["deps"]}.

%% Erlang compiler options
{erl_opts, [ {i, ".."},
             {parse_transform, lager_transform}]}.

%% == EUnit ==

%% == Dependencies ==

%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.
{deps, [{lager, "3.6.6"},
        {uuid, ".*", { git, "git://github.com/avtobiff/erlang-uuid.git", {tag, "v0.5.2"}} }
       ]}.

